Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-ads1x15==3.0.4
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-tca9548a==0.8.6
adafruit-circuitpython-typing==1.12.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
colorzero==2.0
contourpy==1.0.7
cycler==0.12.1
fonttools==4.56.0
gpiozero==2.0.1
HX711 @ git+https://github.com/gandalf15/HX711.git@a2b72a0b44fc200112ecb25e11b60a5ee4ba7d56#subdirectory=HX711_Python3
kiwisolver==1.4.8
lgpio==0.2.2.0
matplotlib==3.10.0
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pyftdi==0.57.1
pyparsing==3.2.1
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
spidev==3.8
sysv_ipc==1.2.0
tk==0.1.0
toml==0.10.2
ttkbootstrap==1.10.1
typing_extensions==4.15.0
